h1{
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
}

.tabBox{
    display: flex;
    justify-content: center;
}

.boxOne, .boxTwo{
    border: 1px solid black;
    width: 40%;
    height: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
}

.boxOne{
    background-color: rgb(13, 109, 69);
}

.boxTwo{
    background-color: rgb(255, 255, 255);
}
