.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: -100px;
}

.balloonRed {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(199, 41, 41);
}