body {
    background-color: #f8f9fa;
    padding-top: 30px; /* Adjust padding to prevent content from being hidden behind fixed navbar */    
}

/* Profile Card Styles */
.profile-img {
    height: 220px;
    object-fit: cover;
}

.modal-profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.skills span {
    margin-right: 6px;
    margin-bottom: 6px;
}

.rounded {
    width: 100px;
    height: 100px;
    background-color: #007bff;
    border-radius: 50%;
}   

