:root {
  --color: rgb(8, 42, 44);
}

body {
  margin: 0;
  font-family: sans-serif;
}

.parallax-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /*  this is where the magic happens:  */
  background-attachment: fixed;

  background-image: url(./img/jeet-dhanoa-q82BAzAWGTQ-unsplash.jpg);
  background-position: center;
  background-size: cover;
  color: var(--color);
  row-gap: 4rem;

  text-align: center;
}

.buffer {
  width: 100%;
  min-height: 20vh;
  background-color: var(--color);
}

.parallax-container2 {
  flex-direction: row;
  flex-wrap: wrap;

  padding: 6rem 0;
  background-image: url(./img/mohammad-amin-yLwItF6R14Q-unsplash.jpg);
  gap: 1.6em;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: white
}

p {
  max-width: 52ch;
  padding: 1em;
  line-height: 1.5;
  color: white;
}


