* {
    box-sizing: border-box;
}

body {
    font-family: "Ropa Sans", sans-serif;
    padding: 0;
    margin: 0;
    background: rgb(255, 255, 255);
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

header {
    box-shadow: 0px 2px 20px 17px #777;
    position: fixed;
    width: 100%;
    background-color: #fff;
    /* projeta o elemento a frente dos outros */
    z-index: 3;
    /*posicionamento*/
    top: 0;
    left: 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    /* alinhamento horizontal */
    align-items: center;
    /* alinhamento vertical */
    margin-left: 150px;
}

header .logo h1 {
    display: inline-block;
    color: #777;
    font-size: 40px;
}

header .logo h2 {
    display: inline-block;
    color: #777;
    font-size: 16px;
    font-weight: 200;
}

main section.banner .slide img {
    width: 100%;
}

main section.banner .container {
    position: relative;
}


main section.banner {
    padding: 50px 0;
}

main section.projects .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main section.projects .container article {
    width: 450px;
    background-color: #EEEEEE;
    color: #888888;
}

main section.projects .container article .casaVenda img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

main section.projects .container article .info {
    padding: 20px;
}

main section.projects .container article .info .price-tag {
    display: flex;
    justify-content: space-between;
}

main section.projects .container article .info .price {
    font-size: 30px;
    margin: 0;
}

main section.projects .container article .info .tag {
    padding: 5px 10px;
    background-color: gray;
    color: #fff;
    margin: 0;
    border-radius: 25px;
    font-size: 25px;
}

main section.projects .container article .info .tag-new {
    background-color: #51D275;
}

main section.projects .container article .info .tag-sale {
    background-color: #DC9730;
}

main section.banner .titulo {
    display: flex;
    padding: 10%;
    text-align: center;
}

main section.styles .container h2 {
    text-align: center;
    color: #888888;
    font-size: 40px;
}

main section.styles .container article img {
    width: 100%;
    
}

main section.styles .container article h3 {
    color: #ffffff;
    font-size: 40px;
    position: absolute;
    display: flex;
}

footer {
    background-color: #333333;
    color: #ffffff;
    padding: 50px;
    display: flex;
    justify-content: space-around;
}

footer a:any-link {
    color: #ffffff;
}

footer iframe {
    width: 500px;
    height: 350px;
    max-width: 100%;
    border-radius: 30px;
}

.main-form {
    padding: 100px 0;
}

@media (max-width: 900px) {
    .container {
        padding: 0 40px;
    }

    main section.projects .container {
        justify-content: center;
        flex-wrap: wrap;
    }

    main section.projects .container article {
        margin: 20px 0;
    }
}

@media (max-width: 740px) {
    footer {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
}